<%- include('modules/header.ejs') %>
    <div class="container d-flex flex-column align-items-center" style="height:100%">
        <div class="card align-items-center d-flex flex-column mt-3" style="width: 100%;">
            <div style="width: 100%;">
                <%- include('modules/navbar.ejs') %>
            </div>
            <div class="d-flex flex-column align-items-center" style="width: 100%">
                <div class="d-flex flex-column align-items-center" style="width: 100%; height: 95%;">
                    <div class="d-flex flex-column align-items-center" style="width: 100%;">
                        <span class="mt-2">Diga tudo patrão!</span>
                        <form action="/" method="post" style="width: 90%;">
                            <textarea class="form-control shadow-lg" name="post" aria-label="With textarea" style="height: 150px; width: 100%;"></textarea>
                            <div class="d-flex flex-row justify-content-end align-items-center mt-2">
                                <input class="me-1" type="checkbox" name="anon"/>
                                <span>Envio anonimo?</span>
                                <button type="submit" class="btn btn-secondary ms-2">Enviar</button>
                            </div>
                        </form>
                    </div>
                    <% let i = 0 %>
                    <% let pag = page -1 %>
                    <% while(i != 4 && i+pag*4 != posts.length){ %>
                        <div class="card my-2" style="width: 90%;">
                            <div class="card-header d-flex flex-row">
                                <img src="<%= posts[i+pag*4].avatar %>" class="shadow rounded-circle post-image"/>
                                <h5 class="pt-2"><%= posts[i+pag*4].username %></h5>
                            </div>
                            <div class="card-text p-2">
                                <p><i><%= posts[i+pag*4].post %></i></p>
                            </div>
                        </div>
                    <%  i++;} %>
                <div class="d-flex flex-column justify-content-center">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <% if(page == 1){ %> <li class="breadcrumb-item active" aria-current="page">1</li> <% }else{ %> 

                                <li class="breadcrumb-item"><a href="/?page=1">1</a></li>
                                <% if(page >= 3){ %>
                                <li class="breadcrumb-item"><a href="/?page=<%= parseInt(page)-1 %>"> <%= parseInt(page)-1 %></a></li>
                                <% } %>
                                <li class="breadcrumb-item active" aria-current="page"> <%= page %> </li>
                            <% } %>
                            <% if(page != Math.ceil(parseInt(posts.length)/4)){ %>
                                <li class="breadcrumb-item"><a href="/?page=<%= parseInt(page)+1 %>"><%= parseInt(page)+1 %></a></li>
                            <% if(page != Math.ceil(parseInt(posts.length)/4)-1){ %>
                                <li class="breadcrumb-item"><a href="/?page=<%= Math.ceil(parseInt(posts.length)/4) %>"><%= Math.ceil(parseInt(posts.length)/4) %></a></li>
                            <% }} %>
                            
                        </ol>
                      </nav>
                </div>
            </div>
        </div>
    </div>
<%- include('modules/footer.ejs') %>
