<%- include('modules/header.ejs') %>
    <div class="container d-flex flex-column align-items-center" style="height:100%">
        <div class="card align-items-center d-flex flex-column mt-3" style="width: 100%;">
            <div style="width: 100%;">
                <%- include('modules/navbar.ejs') %>
            </div>
            <form class="d-flex mt-3" role="search" action="\members" method="get">
                <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <% if(userlist.length > 0) { %>
            <% userlist.forEach(function(userX) { %>
            <div class="card mt-1 mb-1" style="width: 90%;">
                <div class="card-header d-flex flex-row">
                    <div class="d-flex flex-row" style="width: 20%">
                        <img src="<%= userX.avatarimg %>" class="shadow rounded-circle post-image"/>
                        <div class="d-flex flex-column align-items-start">
                            <h5 class="m-0" style="font-size:medium;"><%= userX.username %></h5>
                            <p class="m-0" style="font-size: smaller;"><%= userX.email %></p>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-end" style="width: 80%">
                        <p style="font-size: x-small;">Membro desde: <%= new Date(userX.createdAt).toLocaleString() %></p>
                    </div>
                </div>
                <div class="card-text p-2">
                    <p><i><%= userX.desc %></i></p>
                </div>
            </div>
            <% }); %>
            <% } else { %>
            <p>Nenhum usuário para exibir</p>
            <% } %>
        </div>
    </div>
<%- include('modules/footer.ejs') %>